.vs
Win/x64
*.i
*.pdb
*.aps
Mac/GPU_Skeleton.xcodeproj/project.xcworkspace/xcuserdata/timurko.xcuserdatad/UserInterfaceState.xcuserstate
Mac/GPU_Skeleton.xcodeproj/xcuserdata/timurko.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Win/enc_temp_folder
Win/Project/Adobe After Effects Auto-Save
